:root {
  --bg-color: #1d1e2c;
  --blue-purp: #252635;
  --blueLightPup: #35364d;
  --gray-aluminium: #a1a1a1;
  --border: #35364d;
  --contrast: #ffffff;
  --blue: #5e88d8;
  --body: #1d1e2c;
  --blue-space: #2e2f3f;
  --blue-perwi: #656d81;
  --green: #039963;
  --orange: #ee9441;
  --red: #fa3c3c;
}
